$color:(
  primary: #ffe66b,
  primary-light: lighten(#ffe66b,40%),
  primary-dark: darken(#ffe66b,60%),
  accent: #222222,
  accent-light: lighten(#222222,85%),
  accent-lesslight: lighten(#222222,50%)
);
@function color($color_name) {
  @return map-get($color, $color_name);
}
@keyframes worksBorderTop {
  0% {
    border-top-color: color(accent);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    //border: 3px solid color(primary);
  }
  16%{
    width: 100%;
    height: 0;
    border-top-color: color(accent);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: color(accent);
  }
  33% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: color(accent);
  }
  50% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  
}
@keyframes worksBorderBottom {
  33% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: color(accent);
    border-right-color: transparent;
  }
  40% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: color(accent);
    border-left-color: color(accent);
    border-right-color: transparent;
    //border: 3px solid color(primary);
  }
  65%{
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: color(accent);
    border-left-color: transparent;
    border-right-color: transparent;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}