$color:(
  primary: #ffe66b,
  primary-light: lighten(#ffe66b,40%),
  primary-dark: darken(#ffe66b,60%),
  accent: #222222,
  accent-light: lighten(#222222,85%),
  accent-lesslight: lighten(#222222,50%)
);
@function color($color_name) {
  @return map-get($color, $color_name);
}
@keyframes worksBorder {
  0% {
    border: 3px solid color(primary);
  }
  50% {
    border: 3px solid color(accent);
  }
  100% {
    border: 3px solid color(primary-light);
  }
  
}