@keyframes subtitle {
  0% {
    //content: 'Software developer';
    opacity: 1;
  }

  20% {
   // content: 'Software developer';
    opacity: 0;
  }

  40% {
   //content: '(Soon) System engineer';
    opacity: 1;
  }

  60% {
    //content: '(Soon) System engineer';
    opacity: 0;
  }
  80% {
   // content: 'Game developer enthusiast';
    opacity: 1;
  }

  100% {
    //content: 'Game developer enthusiast';
    opacity: 0;
  }
}