.fullHeight {
  height: 100%;
}
.fullWidth{
  width: 100%;
  min-width: 700px;
}
h1#heyOnTop {
  margin-left: 10%;
  background-color: red;/**/
}
h1#heyOnBottom {
  display: none;
}
section#aboutMeSection div#whatTypesOfWorkDoIDo div div {
  min-height: 8em;
  max-height: 15em;
  min-width: 15em;
  max-width: 20em;
}
section#aboutMeSection div#myWorkSpirit div div{
  margin: 2em;
  min-height: 12em;
  max-height: 18em;
  min-width: 25em;
  max-width: 40em;
  border-radius: 0.5em;
}
section#worksSection div#worksSectionInnerBlock div#workSectionArticles div {
  width: 20%
}
section#worksSection div#worksSectionInnerBlock div#workSectionArticles div#workSectionArticlesItems {
  width: 60%;
}
footer div#contactWays div{
  margin: 5%;
}