.fullHeight {
  height: 100%;
  min-width: 500px;
}
.fullWidth{
  width: 100%;
}
.button {
  display: none;
}
h1#heyOnTop {
  display: none;
}
h1#heyOnBottom {
  background-color: red;/**/
}
section#aboutMeSection div#whatTypesOfWorkDoIDo div div {
  min-height: 8em;
  max-height: 15em;
  min-width: 15em;
  max-width: 20em;
}
section#aboutMeSection div#myWorkSpirit div div{
  min-height: 12em;
  max-height: 18em;
  min-width: 25em;
  max-width: 40em;
}
section#worksSection div#worksSectionInnerBlock div#workSectionArticles div button {
  display: none;
}
section#worksSection div#worksSectionInnerBlock div#workSectionArticles div#workSectionArticlesItems {
  width: 100%;
}
footer div#contactWays div{
  margin: 5%;
}