$color:(
  primary: #ffe66b,
  primary-light: lighten(#ffe66b,40%),
  primary-dark: darken(#ffe66b,60%),
  accent: #222222,
  accent-light: lighten(#222222,85%)
);
@function color($color_name) {
  @return map-get($color, $color_name);
}

$font1: 'Karla';
$font2: 'Rubik';
$border: 15px;

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.workCard {
  background-color: color(accent-light);
}

html,body {
  height: 100%;
}

body {
  font-family: $font1;
  margin: 0;
  background-image: url("../assets/pictures/textura/white-waves.png");
  color: color(accent);
  
  #bg {
    background-color: color(primary);
    clip-path: polygon(0 38%, 100% 68%, 100% 100%, 0 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    
    @include desktop {
      clip-path: polygon(20% 0, 100% 80%, 100% 100%, 0 100%, 0 0);
    }
  }
  #mebgdiv {
    z-index: -2;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;

    #mebg {
      height: 90%;
      position: absolute;
      top: -10%;
      right: -35%;
      @include desktop {
        top: -10%;
        right: -5%;
      }
    }
  }

  #titleMain {
    height: 100%;
    width: 30%;
    z-index: 1;
    position: relative;
    top: 60%;
    left: 32%;
    
    @include desktop {
      top: 45%;
      left: 20%;
    }

    #title {
      text-transform: uppercase;
      font-size: 3em;
      
      h1 {
        text-align: center;
        margin: 0;
      }
    }
    #subtitle {
      font-family: $font2, normal;
      color: color(primary-light);
      text-align: center;
      margin-bottom: 20px;
    }
  }

  #bodybg {
    padding-top: 15px; 
    background-color: color(primary);
    width: 100%;
    border-bottom-color: color(accent);
    border-bottom-style: dashed;
    border-bottom-width: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @include desktop {
    }

    #aboutMe {
      width: 80%;
      margin: 1em;
      align-self: center;
      text-align: center;

      @include desktop {
        width: 44%;
      }

      h2 {
        text-align: center;
      }
      p {
        font-family: $font2;
        font-weight: 300;

        @include desktop {
          text-align: right;
        }

        b {
          font-weight: 500;
        }
      }
    }
    #card {
      background-color: white;
      padding: 20px;
      margin: 1em;
      border-radius: $border;
      width: 80%;
      box-shadow: 0 10px 30px rgba(0,0,0,.2);

      @include desktop {
        width: 43%;
      }

      h2 {
        text-align: center;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 10px;

          span {
            position: absolute;
            height: 30px;
            width: 30px;
            background-color: color(primary-dark);
            border-radius: 50%;
            margin-right: 20px;
          }
          strong {
            display: inline-block;
            margin-left: max(40px);
            margin-top: 10px;
            font-family: $font2;
            font-weight: 500;
          }
        }
      }
    }
    #myWorks {
      width: 100%;
      height: 100%;

      h2 {
        text-align: center;
      }
      main {
        width: 100%;
      }
    }
  }

  footer {
    text-align: center;

    h2 ,h1 {
      margin: 0;
      margin-right: .2em;
      line-height: 1.2em;
    }
    #separateFooter {
      padding-top: 15px; 
      background-color: color(primary);
      clip-path: polygon(100% 0, 100% 100%, 82% 100%, 0 9%, 0 0);
      font-size: 350%;
      text-align: right;

      float: right;
      shape-outside: polygon(100% 0, 100% 100%, 82% 100%, 0 9%, 0 0);
      shape-margin: .7em;

      mark {
        background-color: color(accent);
        color: color(primary);
      }
    }
    #contact {
      margin-left: .2em;

      #contactLinks {
        margin-top: 30px;

        a {
          margin: 20px;
          text-decoration: none;
          font-family: $font2;
          line-height: 1.5em;

        }
        #fiverr {
          font-size: 3em;
        }
      }
    }
  }

}