html, body {
  height: 100%;
}

body {
  font-family: "Karla";
  margin: 0;
  background-image: url("../assets/pictures/textura/white-waves.png");
  color: #222222;
}

body #bg {
  background-color: #ffe66b;
  -webkit-clip-path: polygon(0 38%, 100% 68%, 100% 100%, 0 100%);
          clip-path: polygon(0 38%, 100% 68%, 100% 100%, 0 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 840px) {
  body #bg {
    -webkit-clip-path: polygon(20% 0, 100% 80%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(20% 0, 100% 80%, 100% 100%, 0 100%, 0 0);
  }
}

body #mebgdiv {
  z-index: -2;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

body #mebgdiv #mebg {
  height: 90%;
  position: absolute;
  top: -10%;
  right: -35%;
}

@media (min-width: 840px) {
  body #mebgdiv #mebg {
    top: -10%;
    right: -5%;
  }
}

body #titleMain {
  height: 100%;
  width: 30%;
  z-index: 1;
  position: relative;
  top: 60%;
  left: 32%;
}

@media (min-width: 840px) {
  body #titleMain {
    top: 45%;
    left: 20%;
  }
}

body #titleMain #title {
  text-transform: uppercase;
  font-size: 3em;
}

body #titleMain #title h1 {
  text-align: center;
  margin: 0;
}

body #titleMain #subtitle {
  font-family: "Rubik", normal;
  color: white;
  text-align: center;
}

body #bodybg {
  padding-top: 15px;
  background-color: #ffe66b;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #bodybg #aboutMe {
  width: 80%;
  margin: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media (min-width: 840px) {
  body #bodybg #aboutMe {
    width: 45%;
  }
}

body #bodybg #aboutMe h2 {
  text-align: center;
}

body #bodybg #card {
  background-color: white;
  padding: 20px;
  margin: 1em;
  border-radius: 15px;
  width: 80%;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

@media (min-width: 840px) {
  body #bodybg #card {
    width: 45%;
  }
}

body #bodybg #card h2 {
  text-align: center;
}

body #bodybg #card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body #bodybg #card ul li {
  margin-bottom: 10px;
}

body #bodybg #card ul li span {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #382f00;
  border-radius: 50%;
  margin-right: 20px;
}

body #bodybg #card ul li strong {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}

body #bodybg #myWorks {
  width: 100%;
  height: 100%;
}

body footer {
  text-align: center;
}

body footer h2, body footer h1 {
  margin: 0;
}

body footer #separateFooter {
  padding-top: 15px;
  background-color: #ffe66b;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 82% 100%, 0 9%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 82% 100%, 0 9%, 0 0);
  font-size: 350%;
  text-align: right;
  float: right;
  shape-outside: polygon(100% 0, 100% 100%, 82% 100%, 0 9%, 0 0);
  shape-margin: 1em;
}
/*# sourceMappingURL=style.css.map */