//fonts
@font-face {
    font-family: 'Karla';
    src: url('Fonts/hinted-Karla-Regular.eot');
    src: local('Karla'), local('Karla-Regular'),
        url('Fonts/hinted-Karla-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/hinted-Karla-Regular.woff2') format('woff2'),
        url('Fonts/hinted-Karla-Regular.woff') format('woff'),
        url('Fonts/hinted-Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('Fonts/hinted-Karla-Bold.eot');
    src: local('Karla Bold'), local('Karla-Bold'),
        url('Fonts/hinted-Karla-Bold.eot?#iefix') format('embedded-opentype'),
        url('Fonts/hinted-Karla-Bold.woff2') format('woff2'),
        url('Fonts/hinted-Karla-Bold.woff') format('woff'),
        url('Fonts/hinted-Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('Fonts/hinted-Rubik-Italic.eot');
    src: local('Rubik Italic'), local('Rubik-Italic'),
        url('Fonts/hinted-Rubik-Italic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/hinted-Rubik-Italic.woff2') format('woff2'),
        url('Fonts/hinted-Rubik-Italic.woff') format('woff'),
        url('Fonts/hinted-Rubik-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('Fonts/hinted-Rubik-Light.eot');
    src: local('Rubik Light'), local('Rubik-Light'),
        url('Fonts/hinted-Rubik-Light.eot?#iefix') format('embedded-opentype'),
        url('Fonts/hinted-Rubik-Light.woff2') format('woff2'),
        url('Fonts/hinted-Rubik-Light.woff') format('woff'),
        url('Fonts/hinted-Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('Fonts/hinted-Karla-Italic.eot');
    src: local('Karla Italic'), local('Karla-Italic'),
        url('Fonts/hinted-Karla-Italic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/hinted-Karla-Italic.woff2') format('woff2'),
        url('Fonts/hinted-Karla-Italic.woff') format('woff'),
        url('Fonts/hinted-Karla-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('Fonts/hinted-Rubik-Regular.eot');
    src: local('Rubik Regular'), local('Rubik-Regular'),
        url('Fonts/hinted-Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/hinted-Rubik-Regular.woff2') format('woff2'),
        url('Fonts/hinted-Rubik-Regular.woff') format('woff'),
        url('Fonts/hinted-Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('Fonts/hinted-Rubik-LightItalic.eot');
    src: local('Rubik Light Italic'), local('Rubik-LightItalic'),
        url('Fonts/hinted-Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/hinted-Rubik-LightItalic.woff2') format('woff2'),
        url('Fonts/hinted-Rubik-LightItalic.woff') format('woff'),
        url('Fonts/hinted-Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('Fonts/hinted-Rubik-Medium.eot');
    src: local('Rubik Medium'), local('Rubik-Medium'),
        url('Fonts/hinted-Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('Fonts/hinted-Rubik-Medium.woff2') format('woff2'),
        url('Fonts/hinted-Rubik-Medium.woff') format('woff'),
        url('Fonts/hinted-Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("FontAwesome/webfonts/fa-brands-400.eot");
  src: url("FontAwesome/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
   url("FontAwesome/webfonts/fa-brands-400.woff2") format("woff2"),
   url("FontAwesome/webfonts/fa-brands-400.woff") format("woff"), 
   url("FontAwesome/webfonts/fa-brands-400.ttf") format("truetype"), 
   url("FontAwesome/webfonts/fa-brands-400.svg#fontawesome") format("svg"); 
}
//styles
$color:(
  primary: #ffe66b,
  primary-light: lighten(#ffe66b,40%),
  primary-dark: darken(#ffe66b,60%),
  accent: #222222,
  accent-light: lighten(#222222,85%),
  accent-lesslight: lighten(#222222,50%)
);
@function color($color_name) {
  @return map-get($color, $color_name)
}

$font1: 'Karla';
$font2: 'Rubik';
$border: 15px;

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fab {
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  display:inline-block;
  font-style:normal;
  font-variant:normal;
  text-rendering:auto;
  line-height:1;
  font-family:"Font Awesome 5 Brands"
}
.fa-3x {
  font-size:3em
}
.fa-instagram:before {
  content: "\f16d"
}
.fa-twitter-square:before {
  content: "\f081"
}
.fa-github-square:before {
  content: "\f092"
}
.fa-linkedin:before {
  content: "\f08c"
}
/*--------------------------*/

html,body {
  height: 100%
}

body {
  font-family: $font1;
  margin: 0;
  background-image: url("../assets/pictures/textura/white-waves.jpg");
  color: color(accent);
  
  #bg {
    background-color: color(primary);
    clip-path: polygon(0 38%, 100% 68%, 100% 100%, 0 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    
    @include desktop {
      clip-path: polygon(20% 0, 100% 80%, 100% 100%, 0 100%, 0 0)
    }
  }
  #mebgdiv {
    z-index: -2;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;

    #mebg {
      height: 90%;
      position: absolute;
      top: -10%;
      right: -35%;
      @include desktop {
        top: -10%;
        right: -5%
      }
    }
  }

  #langList {
    position: relative;
    
    ul {
      position: absolute;
      list-style: none;
      border-bottom: 2px solid color(primary-dark);
      padding: 0;
      margin: 0;
      font-family: $font2;
      font-size: 1.4em;
      left: 1.5em;
      top: 1.2em;
      width: 1.7em;

      @include desktop {
        border-bottom: 2px solid color(primary-light)
      }
  
      li {
        line-height:140%;
        text-align: center;
  
        a {
          color:color(primary); 
          text-decoration:none
        }
        a:active { 
          color: color(primary-light)
        }
        #disable {
          pointer-events: none;
          cursor: default
        }
        @include desktop {
            a {
              color:color(accent); 
              text-decoration:none
            }
            a:hover { 
              color: color(accent-lesslight);
              transition: all 0.3s;
            }
            a:active { 
              color: color(primary-light)
            }
          }
      }
      #inner {
        display:none
      }
    }
  }
  #langList:hover {
    #inner {
      display: block
    }
  }


  #titleMain {
    height: 100%;
    width: 30%;
    z-index: 1;
    position: relative;
    top: 60%;
    left: 32%;
    
    @include desktop {
      top: 45%;
      left: 20%
    }

    #title {
      text-transform: uppercase;
      font-size: 3em;
      
      h1 {
        text-align: center;
        margin: 0
      }
    }
    #subtitle {
      font-family: $font2, normal;
      color: color(primary-light);
      text-shadow: 0 5px 10px rgba(0,0,0,.1);
      text-align: center
    }
  }

  #bodybg {
    padding-top: 25px; 
    background-color: color(primary);
    width: 100%;
    border-bottom: 10px dashed color(accent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    #aboutMe {
      width: 80%;
      margin: 1em;
      align-self: center;
      text-align: center;
      margin-top: 3.5em;
      border-bottom-style: dashed;
      border-left-style: dashed;
      border-right-style: dashed;
      border-color: color(primary-light);
      border-width: 3px;
      padding-right: 3px;
      padding-left: 3px; 

      @include desktop {
        width: 43%;
        border-left-style: none;
        padding-left: 0
      }

      h2 {
        text-align: center
      }
      p {
        font-family: $font2;
        font-weight: 300;

        @include desktop {
          text-align: right
        }

        b {
          font-weight: 500;
        }
      }
    }
    #card {
      background-color: white;
      padding: 20px;
      margin: 1em;
      border-radius: $border;
      width: 80%;
      box-shadow: 0 10px 30px rgba(0,0,0,.2);

      @include desktop {
        width: 43%
      }

      h2 {
        text-align: center
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 10px;

          span {
            position: absolute;
            height: 30px;
            width: 30px;
            background-color: color(primary-dark);
            border-radius: 50%;
            margin-right: 20px
          }
          strong {
            display: inline-block;
            margin-left: max(40px);
            margin-top: 10px;
            font-family: $font2;
            font-weight: 500
          }
        }
      }
    }
    #myWorks {
      width: 100%;
      height: 100%;
      margin-top: 2em; 
      margin-bottom: 1em;
      padding-bottom: 1.9em;
      border-top: 10px dashed color(accent);

      h2 {
        text-align: center
      }
      main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
        width: 100%;
        a {
          text-decoration:none;
          
          div {
            position: relative;
            background-color: color(primary-light);
            box-sizing: border-box;
            height: auto;
            color:color(accent); 
            border: 2px solid transparent;
            box-shadow: 0 10px 20px rgba(0,0,0,.2);
            padding: 2em;
  
            strong {
              color:color(accent); 
              font-size: 1.2em
            }
            #languaje {
              text-transform: uppercase;
              font-size: 1.5em;
              text-align: right;
              margin-top: 4px;

              mark {
                background-color: color(accent);
                color: color(primary-light)
              }
            }
            img {
              width: 100%
            }
          }
          @include desktop {
            @media screen and (-webkit-min-device-pixel-ratio:0) {
              div:before, div:after{
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                width: 0;
                height: 0;
                border: 2px solid transparent
              }
              div:hover:after {
                animation: 0.8s ease-in-out infinite worksBorderTop
              }
              div:hover:before {
                animation: 0.8s ease-in-out infinite worksBorderBottom
              }
              div:hover {
                box-shadow: 0 20px 40px rgba(0,0,0,.2);
                transition: all 1s;
                strong {
                  color: color(accent-lesslight)
                }
              }
              div:active {
                strong {
                  color: color(primary)
                }
              }
            }
          }
        }
        #refer {
          height: auto;
          padding: 2em;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 1.6em;
            text-shadow: 0 5px 10px rgba(0,0,0,.1);
            color: color(primary-light)
          }
          @include desktop {
            justify-content: initial
          }
          
        }
      }
    }
  }

  footer {
    text-align: center;

    h2 ,h1 {
      margin: 0;
      margin-right: .2em;
      line-height: 1.2em
    }
    #separateFooter {
      padding-top: 15px; 
      background-color: color(primary);
      clip-path: polygon(100% 0, 100% 100%, 0 9%, 0 0);
      font-size: 350%;
      text-align: right;

      float: right;
      shape-outside: polygon(100% 0, 100% 100%, 82% 100%, 0 9%, 0 0);
      shape-margin: .7em;

      @include desktop {
        clip-path: polygon(100% 0, 100% 100%, 82% 100%, 0 9%, 0 0)
      }

      mark {
        background-color: color(accent);
        color: color(primary)
      }
    }
    #contact {
      margin-left: .4em;

      #contactLinks {
        margin-top: 30px;

        p {
          margin: 20px;
          font-family: $font2;
          font-weight: 500
        }
        a {
          color:color(primary); 
          text-decoration: none;
          line-height: 1.5em

        }
        a:active { 
          color: color(primary-light);
        }
        
        #fiverr {
          font-size: 2.7em;
          margin-bottom:0;
        }
      }
      #media {
        a {
          margin-right: 0.3em;
          color: color(accent);
          i {
            size: 1.5em
          }
        }
      }
    }
  }

}
//animations
@keyframes worksBorderTop {
  0% {
    border-top-color: color(accent);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    //border: 3px solid color(primary);
  }
  16%{
    width: 100%;
    height: 0;
    border-top-color: color(accent);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: color(accent);
  }
  33% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: color(accent);
  }
  50% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  
}
@keyframes worksBorderBottom {
  33% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: color(accent);
    border-right-color: transparent;
  }
  40% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: color(accent);
    border-left-color: color(accent);
    border-right-color: transparent;
    //border: 3px solid color(primary);
  }
  65%{
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: color(accent);
    border-left-color: transparent;
    border-right-color: transparent;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}