/* inconsolata-regular - latin */
@font-face {
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
        url('./Assets/fonts/Inconsolata/inconsolata-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./Assets/fonts/Inconsolata/inconsolata-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inconsolata-700 - latin */
@font-face {
font-family: 'Inconsolata';
font-style: normal;
font-weight: 700;
src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
        url('./Assets/fonts/Inconsolata/inconsolata-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./Assets/fonts/Inconsolata/inconsolata-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('./Assets/fonts/Montserrat/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./Assets/fonts/Montserrat/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('./Assets/fonts/Montserrat/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./Assets/fonts/Montserrat/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$color:(
  accent: #ffe66b,
  primary: #222222,
  links: #999999,
  versionBox: #444444
);
@function color($color_name) {
  @return map-get($color, $color_name)
}
$phoneSSize: 361px;
$phoneSSizeH: 481px;
$phoneMSize: 660px;
// Mobile querys
@mixin small{
    @media screen and (max-width: $phoneSSize) and (max-height: $phoneSSizeH), (orientation: landscape) and (max-width: $phoneSSizeH) and (max-height: $phoneSSize) {
        @content;
    }
}
@mixin medium{
    @media screen and (max-width: $phoneSSize) and (min-height: $phoneSSizeH), (orientation: landscape) and (max-width: $phoneSSizeH) and (min-height: $phoneSSize) {
        @content;
    }
}
@mixin large{
    @media screen and (max-width: $phoneMSize) and (min-width: $phoneSSize), (orientation: landscape) and (max-width: $phoneSSize) and (min-width: $phoneMSize) {
        @content;
    }
}
@mixin allSize{
    @media screen and (max-width: $phoneMSize), (orientation: landscape) and (max-height: $phoneMSize) {
        @content;
    }
}
@mixin landscape{
    @media screen and (orientation: landscape) and (max-height: $phoneMSize) {
        @content;
    }
}
// Fonts value
$fontSize: 1.5em;
$fontExpansionSize: 2.5em;
// Desktop querys
@mixin mediumDPI{
    @media screen and (min-width: 1280px) and (min-height: 800px){
        @content;
    }
}
@mixin highDPI{
    @media screen and (min-width: 1440px) and (min-height: 900px){
        @content;
    }
}
@mixin topDPI{
    @media screen and (min-width: 1500px) {
        @content;
    }
}


*{
    font-family: 'Inconsolata', Fallback;
    margin: 0;
    color: color(primary);
}
html, body, #root,#contentBox, #context{
    height: 100%;
}
body{
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
    min-width: 300px;
}
#root{
    padding-top: 16px;
    padding-bottom: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    @include topDPI {
        align-items: center;
    }
}
.animationInOut{
    animation: mount 0.3s ease-in;
    animation-direction: alternate;
}
#contentBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    max-width: 1500px;
}
a{
    color: color(links);
    transition: 0.2s;
    &:hover{
        color: color(primary);
    }
}
#menuDeskt{
    height: 100%;
    min-width: 257px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include allSize {
        flex-basis: 100%;
    }
    @include landscape {
        flex-direction: row;
        align-items: center;
    }
    #logo{
        color: color(accent);
        font-size: 4em;
        font-family: 'Montserrat',Fallback;
        margin-left: 49px;
        margin-top: 50px;
        @include landscape {
            margin: 0;
            align-self: flex-start;
        }
        @include allSize {
            font-size: 6em;
            @include medium {
                margin-top: 20px;
            }
            @include small {
                font-size: 4em;
                margin-top: 20px;
            }
        }
    }
    .links{
        display: flex;
        flex-direction: column;
        @include landscape {
            height: 100%;
            justify-content: space-around;
        }
    }
    #contextButton{
        @include allSize {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 25%;
        }
        @include landscape {
            height: 100%;
            max-width: 250px;
        }
    }
    .button{
        display: block;
        background-color: transparent; /* cambiar */
        border: none;
        padding: 0;
        text-align: center;
        text-decoration: none;
        font-size: 1.5em;
        margin-bottom: 1em;
        transition: 0.2s;
        @include allSize {
            font-size: 2em;
                @include small {
                    font-size: 1.5em;
                    margin-bottom: 10px;
                }
                @include medium {
                    font-size: 1.5em;
                }
        }
    }
    .buttonEffect{
        &:focus, &:hover{
            background-color: color(accent);
        }
    }
    .active{       //button enfasis
        color: white;
        background-color: black;
        pointer-events: none;
    }
    .mobileButton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        line-height: 1.5em;
        background-color: black;
        color: white;
        border-radius: 5px;

    }
    #language{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 240px;
        @include landscape {
            flex-direction: column;
            align-self: center;
            padding-top: 80px;
        }
        @include allSize{
            max-width: none;
        }
        p {
            align-self: center;
        }
        .button2{
            border: none;
            background-color: transparent;
            padding: 0;
            margin-right: 8px;
            margin-left: 8px;
            text-align: center;
            text-decoration: underline;
            display: inline;
            font-size: 1em;
            color: color(links);
            transition: 0.2s;
            @include allSize {
                font-size: 1.2em;
                @include small {
                    font-size: 1em;
                }
            }
        }
        .button2Effect{
            &:hover{
                color: color(primary);
            }
        }
        .on{       //button enfasis
            color: black;
            text-decoration: none;
            pointer-events: none;
        }
    }
    #rrss{
        margin-bottom: 20px;
        @include small {
            margin-bottom: 10px;
        }
        @include landscape {
            text-align: right;
        }
        a{
            margin-right: 9px;
            svg{
                height: 39px;
                path{
                    color: color(versionBox);
                    transition: 0.1s;
                }
                &:hover{
                    path{
                        color: color(accent);
                    }
                }
            }
        }
    }
    .separator{
        margin-bottom: 20px;
        @include small {
            margin-bottom: 10px;
        }
        @include landscape {
            text-align: right;
        }
    }
    #freelancing{
        a{
            margin-right: 18px;
            @include landscape {
                margin-right: 0;
                margin-left: 18px;
            }
        }
    }
    p {
        @include landscape {
            text-align: right;
        }
    }
}
#context{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    max-width: 960px;
    @include topDPI {
        width: 960px;
    }
    @include allSize {
        padding-left: 0;
    }
    #aboutMeDescription{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        @include allSize() {
            overflow: auto;
        }
        p{
            font-size: $fontSize;
            line-height: $fontExpansionSize;
            max-width: 700px;
            @include mediumDPI {
                font-size: 2em;
                line-height: 3em;
                max-width: 990px;
            }
            @include highDPI {
                font-size: 2.2em;
                line-height: 3.5em;
                max-width: 1100px;
            }
            #name{
                font-size: 1.5em;
                font-weight: bold;
                color: color(accent);
            }
            #career{
                font-size: 1.5em;
                font-weight: bold;
                color: color(accent);
            }
            #extra{
                font-size: .7em;
            }
            @include allSize {
                text-align: justify;
                line-height: auto;
            }
            @include small {
                font-size: 1em;
                #name{
                    font-size: 1.5em;
                }
                #career{
                    font-size: 1.2em;
                }
                #extra{
                    font-size: 0.8em;
                }
            }
            @include medium {
                font-size: 1.5em;
                #name{
                    font-size: 1.7em;
                }
                #career{
                    font-size: 1.4em;
                }
                #extra{
                    font-size: 0.8em;
                }
            }
            @include large {
                font-size: 1.6em;
                line-height: 1.5em;
                #name{
                    font-size: 1.6em;
                }
                #career{
                    font-size: 1.5em;
                }
                #extra{
                    font-size: 0.8em;
                }
            }
        }
    }
    #myWorkRoot{
        height: 100%;
        margin-top: 48px;
        overflow: auto;
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        @include allSize {
            margin-top: 0;
            justify-content: center;
            align-items: center;
        }
        #workBox{
            flex: 0.5 0 auto;
            width: 14.5em;
            height: fit-content;
            background-color: black;
            border-radius: 5px;
            margin-bottom: 80px;
            margin-right: 80px;
            @include allSize {
                margin-right: 0;
            }
            img{
                width: 100%;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
            span{
                background-color: white;
                color: color(primary);
            }
            a{
                background-color: color(accent);
                color: color(primary);
                font-weight: bold;
                &:hover{
                    background-color: white;
                }
            }
            p, a{
                padding-left: 16px;
                padding-right: 16px;
            }
            #workTitle{
                margin-bottom: 12px;
                margin-top: 12px;
                font-size: 1.5em;
                span{
                    &::after, &::before{
                        content:'-';
                    }
                }
            }
            #workDescription{
                line-height: 1.5em;
                margin-bottom: 16px;
            }
            #workDate{
                padding-bottom: 8px;
                text-align: right;
            }
        }
    }
    .button{
        display: block;
        background-color: transparent;
        border: black solid 3px;
        border-radius: 5px;
        padding: 0;
        text-align: left;
        transition: 0.4s;
        margin-top: 2px;
        margin-bottom: 4px;
        font-size: 1.5em;
        font-weight: bold;
        color: black;
        text-align: center;
        line-height: 1.5em;
    }
}
#versionBox{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    p{
        color: color(versionBox);
    }
}

@keyframes mount{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}