/* inconsolata-regular - latin */
@font-face {
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
        url('./Assets/fonts/Inconsolata/inconsolata-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./Assets/fonts/Inconsolata/inconsolata-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inconsolata-700 - latin */
@font-face {
font-family: 'Inconsolata';
font-style: normal;
font-weight: 700;
src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
        url('./Assets/fonts/Inconsolata/inconsolata-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./Assets/fonts/Inconsolata/inconsolata-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('./Assets/fonts/Montserrat/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./Assets/fonts/Montserrat/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('./Assets/fonts/Montserrat/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./Assets/fonts/Montserrat/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$color:(
  accent: #ffe66b,
  primary: #222222,
  links: #999999,
  versionBox: #444444
);
@function color($color_name) {
  @return map-get($color, $color_name)
}

*{
    font-family: 'Inconsolata', Fallback;
    margin: 0;
    color: color(primary);
}
html, body, #root, #context{
    height: 100%;
}
body{
    margin-left: 16px;
    margin-right: 16px;
}
#root{
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

a{
    color: color(links);
    &:hover{
        transition: 0.2s;
        color: color(primary);
    }
}
#menuDeskt{
    height: 100%;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #logo{
        color: color(accent);
        font-size: 4em;
        margin-left: 49px;
        margin-top: 50px;
    }
    .primerDiv{
        display: flex;
        flex-direction: column;
    }
    .button{
        display: block;
        background-color: transparent; /* cambiar */
        border: none;
        padding: 0;
        text-align: center;
        text-decoration: none;
        font-size: 1.5em;
        margin-bottom: 1em;
        &:focus, &:hover{
            transition: 0.2s;
            background-color: color(accent);
        }
    }
    .active{       //button enfasis
        color: white;
        background-color: black;
        &:focus, &:hover{
            background-color: black;
        }
    }
    #language{
        margin-left: 72px;
        .button2{
            border: none;
            background-color: transparent;
            padding: 0;
            text-align: center;
            text-decoration: underline;
            display: inline;
            font-size: 1em;
            color: color(links);
            &:hover{
                transition: 0.2s;
                color: color(primary);
            }
        }
        .on{       //button enfasis
            color: black;
            text-decoration: none;
        }
    }
    #rrss{
        margin-bottom: 20px;
        a{
            margin-right: 9px;
            svg{
                height: 39px;
                path{
                    color: color(versionBox);
                }
                &:hover{
                    path{
                        transition: 0.1s;
                        color: color(accent);
                    }
                }
            }
        }
    }
    .separator{
        margin-bottom: 20px;
    }
    #freelancing{
        a{
            margin-right: 18px;
        }
    }
}
#context{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    #aboutMeDescription{
        height: 100%;
        display: flex;
        align-items: center;
        p{
            font-size: 36px;
            line-height: 98px;
            #name{
                font-size: 72px;
                font-weight: bold;
                color: color(accent);
            }
            #career{
                font-size: 48px;
                font-weight: bold;
                color: color(accent);
            }
            #extra{
                font-size: 18px;
            }
        }
    }
}

#versionBox{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    p{
        color: color(versionBox);
    }
}